/*登录界面css*/

.header{
	background-color: #5687e7;
	font-size: 20px;
	height: 64px;
	padding-top: 15px;
}

.header a,
.header span{
	color: #f2f5fa;
}

.header img{
	margin-left: 30px;
}

.header span,
.user-a-link{
	display:block;
	float:right;
}

.user-a-link {
	margin-left: auto;
	margin-right: auto;
}

.user-a-link a {
	padding-left: 38px;
	cursor: pointer;
	text-decoration: none;
}

.user-a-link .icon {
	width: 24px;
	height: 24px;
	margin: 5px 0px 0px 20px;
	background-color: #ffffff;
	display: inline-block;
	position: absolute;
}

.user-a-link .icon.icon-mod {
	background: url(../images/modifyPwd.png) no-repeat;
}

.user-a-link .icon.icon-logout {
	background: url(../images/quit.png) no-repeat;
}

/*登录界面css*/

/*修改密码css*/

.modal-header{
	background-color: #5687e7;
	text-align: left;
	height: 36px;
	color: #f2f5fa;
	margin-bottom: 10px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.pwd {
	margin-left: 10px;
	margin-bottom: 10px;
	margin: 0 auto;
	padding: 15px;
}

.warn {
	font-size: 14px;
	color: red;
	text-align: center;
}
/*
.modal-footer{
	text-align: center;
}*/

.modal-footer .btn{
	width: 100px;
}

#savePwd{
	background-color: #5687e7;
	color: #f2f5fa;
}

/*修改密码css*/


/*菜单栏css*/
/*
.bs-docs-sidenav.affix {
	top: 40px;
}*/

/*  >表示第一个子元素  */
.bs-docs-sidenav>li:first-child>a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav>li>a {
	display: block;
	text-align: center;
	width: 190px;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}

.bs-docs-sidenav {
	width: 190px;
	margin: 30px 0 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.floatLeft{
	float:left;
}

.floatRight{
	float:right;
}

/*菜单栏css*/